<section class="contacto-hero">
    <div class="contacto-header">
        <h1>CONTACTANOS</h1>
    </div>
    
    <div class="contacto-container">
        
        <div class="contacto-info">
            <h2>¿Necesita Asesoría Legal?<br>Contáctenos</h2>
            <p class="contacto-desc">Estamos listos para escuchar su caso y ofrecerle una estrategia de defensa sólida. No deje pasar más tiempo; su tranquilidad comienza con una respuesta profesional</p>
            
            <div class="contacto-grid">
                <div class="contacto-item">
                    <img src="views/contacto-component/img/phone.png" alt="Ícono Teléfono">
                    <div class="item-text">
                        <h3>Teléfonos de Contacto</h3>
                        <p>+51 956 410 141</p>
                    </div>
                </div>
                
                <div class="contacto-item">
                    <img src="views/contacto-component/img/ubicacion.png" alt="Ícono Ubicación">
                    <div class="item-text">
                        <h3>Dirección de la Oficina</h3>
                        <p>Urb. Villa María del Triunfo<br>Mz. B, Lt. 04, Tacna</p>
                    </div>
                </div>
                
                <div class="contacto-item">
                    <img src="views/contacto-component/img/correo.png" alt="Ícono Correo">
                    <div class="item-text">
                        <h3>Correo Electrónico</h3>
                        <p>diazmenjo@hotmail.com<br>diazmenjo21@gmail.com</p>
                    </div>
                </div>
                
                <div class="contacto-item">
                    <img src="views/contacto-component/img/horario.png" alt="Ícono Horario">
                    <div class="item-text">
                        <h3>Horario de Atención</h3>
                        <p>Lunes a Viernes: 08:00 AM — 08:00 PM<br>Sábados y Domingos: 10:00 AM — 02:00 PM</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contacto-logo">
            <img src="assets/img/logo.png" alt="Logo Díaz & Asociados">
            <div class="logo-texto-grande">
                <h3>Díaz & Asociados</h3>
                <p>Estudio Jurídico</p>
            </div>
        </div>
    

    </div>
</section>
